.c-category-addField-body {
  .fieldsTab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .add-field-types {
      margin: 20px 10px;
      width: calc(20% - 20px);
      display: flex;
      flex-direction: column;
      .add-field-icon {
        height: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        color: rgb(56, 132, 255);
        font-size: 40px;
        box-shadow: 0 0 5px lightgray;
      }
      .title {
        margin-top: 10px;
        text-align: center;
      }
      .description {
        text-align: center;
        font-size: 13px;
        color: gray;
      }
    }
  }
  .formTab {
    padding: 2%;
    .formTab-row {
    }
  }
}
