.sideLinksTitle {
  border-bottom: 1px solid whitesmoke;
  font-size: 12px;
  padding-bottom: 10px;
  color: gray;
  margin-top: 10px;
}
.sideLinks {
  padding-top: 20px;
  flex: 1;
  overflow: hidden;
  &:hover {
    overflow: auto;
  }
}

.linkItem {
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  text-decoration: none !important;
  margin-bottom: 5px;
}
.linkItemSelected {
  border-right: 2px solid rgb(56, 132, 255);
}
.linkItemSelected .linkText {
  color: rgb(56, 132, 255) !important;
}
.navIcon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  background-color: rgb(56, 132, 255);
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.linkIcon {
  font-size: 22px;
  color: white;
}
.linkBody {
  display: flex;
  flex-direction: column;
}
.linkText {
  font-size: 16px;
  font-weight: 600;
}
.linkTextDesc {
  font-size: 11px;
  color: gray;
}
