.closeIcon {
  position: absolute;
  right: 20px;
  top: 40px;
  color: gray;
  font-size: 13px;
  cursor: pointer;
}
.closeIcon:hover {
  color: black;
  transition-duration: 0.2s;
}
.label-nonEditable {
  margin-right: 15px;
}
.ct-wrapper {
  flex: 1;
  margin: 3% 3% 1%;
  display: flex;
  flex-direction: column;

  .ct-header {
    height: 80px;
    display: flex;
    .ct-header-left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;
      .ct-header-title {
        font-size: 25px;
        font-weight: 500;
      }
      .ct-header-description {
        font-size: 11px;
        color: gray;
      }
    }
    .ct-header-right {
      display: flex;
      align-items: center;
    }
  }
  .ct-content {
    flex: 1;
    display: flex;
    .ct-content-left {
      //   background-color: white;
      //   box-shadow: 0 0 3px lightgray;
      overflow: auto;
      flex: 1;
      border-radius: 4px;
    }
    .ct-content-right {
      margin-left: 20px;
      flex: 1;
      background-color: white;
      box-shadow: 0 0 3px lightgray;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      height: 100%;
      .ct-content-right-header {
        position: relative;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // border-bottom: 1px solid whitesmoke;
        padding: 0 5%;
        .ct-right-header-title {
          font-size: 16px;
          font-weight: 500;
        }
        .ct-right-header-description {
          font-size: 12px;
          color: gray;
        }
      }
      .ct-content-right-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        .fieldsContent {
          flex: 1;
          overflow: auto;
          ul {
            padding: 0 !important;
            list-style-type: none;
            li {
              background: white !important;
              display: flex !important;
            }
          }
          .fieldItem {
            display: flex;
            padding: 3px;
            margin: 2% 3%;
            box-shadow: 0 0 5px lightgray;
            align-items: center;
            height: 50px;
            border-radius: 4px;
            .fieldItem-icon {
              padding: 0 10px;
            }
            .fieldItem-name {
              flex: 1;
              font-weight: 500;
              font-size: 14px;
            }
            .fieldItem-title {
              flex: 1;
              font-size: 13px;
              color: gray;
              text-align: center;
            }
            .fieldItem-type {
              border: 1px solid rgb(56, 132, 255);
              display: flex;
              justify-content: center;
              align-items: center;
              color: rgb(56, 132, 255);
              padding: 5px;
              border-radius: 4px;
              margin: 0 10px;
              font-size: 20px;
            }
            .fieldItem-actions {
              flex: 1.5;
              display: flex;
              flex-direction: row-reverse;
            }
          }
        }
        .btnNewFieldContent {
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid lightgray;
          .icon-plus {
            font-weight: bold;
          }
        }
      }
    }
  }
  .listGroupItem {
    padding: 10px;
    &.active {
      background: rgb(251, 251, 251);
    }
    .ct-category-modal-body {
      padding-top: 20px;
    }
    .treeItem {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0;
      .treeItem-img {
        width: 70px;
        height: 60px;
        margin-right: 10px;
        border: 1px solid rgb(220, 220, 220);
        .treeItem-ext {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          background: rgb(56, 132, 255);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .un-icon {
            align-self: center;
            font-size: 35px;
            color: white;
          }
          .un-text {
            display: none;
          }
        }
      }
      .treeItem-icon {
        background: rgb(56, 132, 255);
        width: 70px;
        height: 60px;
        margin-right: 10px;
        padding: 3px;
        border: 1px solid rgb(220, 220, 220);
        .contentIcon {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;

          i {
            font-size: 35px;
            color: white;
          }
        }
      }
      .btnCategoryCollapse {
        margin-right: 10px;
        font-size: 18px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .treeItem-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .treeItem-name {
        font-weight: 600;
      }
      .treeItem-desc {
        font-size: 10px;
      }
      .treeItem-action {
        margin-left: 5px;
        display: flex;
      }
      .hoverAction {
        display: none;
      }
    }
    .treeItemParent {
      cursor: pointer;
      &:hover .hoverAction {
        display: flex;
      }
    }
  }
}
