@font-face {
  font-family: 'icomoon';
  src: url("./../assets/fonts/icomoon.eot?kl95gl");
  src: url("./../assets/fonts/icomoon.eot?kl95gl#iefix")
      format("embedded-opentype"),
    url("./../assets/fonts/icomoon.ttf?kl95gl") format("truetype"),
    url("./../assets/fonts/icomoon.woff?kl95gl") format("woff"),
    url("./../assets/fonts/icomoon.svg?kl95gl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-right:before {
  content: "\e906";
}
.icon-caret-left:before {
  content: "\e907";
}
.icon-caret-up:before {
  content: "\e908";
}
.icon-caret-down:before {
  content: "\e909";
}
.icon-bars:before {
  content: "\e901";
}
.icon-more-h:before {
  content: "\e902";
}
.icon-move:before {
  content: "\e92b";
}
.icon-crop:before {
  content: "\e921";
}
.icon-crop-o:before {
  content: "\e923";
}
.icon-flip-horizontal:before {
  content: "\e924";
}
.icon-flip-vertical:before {
  content: "\e925";
}
.icon-rotate-left:before {
  content: "\e927";
}
.icon-rotate-right:before {
  content: "\e928";
}
.icon-zoom-in:before {
  content: "\e929";
}
.icon-zoom-out:before {
  content: "\e92a";
}
.icon-archive:before {
  content: "\e91d";
}
.icon-draft:before {
  content: "\e91e";
}
.icon-publish:before {
  content: "\e91f";
}
.icon-refresh:before {
  content: "\e920";
}
.icon-file-plus-o:before {
  content: "\e91c";
}
.icon-audio:before {
  content: "\e918";
}
.icon-pdf:before {
  content: "\e919";
}
.icon-spreadsheet:before {
  content: "\e91a";
}
.icon-video:before {
  content: "\e91b";
}
.icon-down-chevron:before {
  content: "\e916";
}
.icon-right-chevron:before {
  content: "\e917";
}
.icon-camera:before {
  content: "\e915";
}
.icon-combo-box:before {
  content: "\e914";
}
.icon-item-type:before {
  content: "\e913";
}
.icon-boolean:before {
  content: "\e90e";
}
.icon-json-file:before {
  content: "\e912";
}
.icon-number:before {
  content: "\e90f";
}
.icon-reference:before {
  content: "\e910";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-circle-o:before {
  content: "\e90d";
}
.icon-logo:before {
  content: "\e900";
}
.icon-quote:before {
  content: "\e903";
}
.icon-request:before {
  content: "\e904";
}
.icon-product:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e90a";
}
.icon-pencil:before {
  content: "\e90b";
}
.icon-images:before {
  content: "\e911";
}
.icon-file-text-o:before {
  content: "\e922";
}
.icon-file-text:before {
  content: "\e926";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-location:before {
  content: "\e947";
}
.icon-location-o:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-drawer2:before {
  content: "\e95d";
}
.icon-database:before {
  content: "\e964";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-list:before {
  content: "\e9bb";
}
.icon-category:before {
  content: "\e9bc";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-plus-o:before {
  content: "\ea0a";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-circle:before {
  content: "\ea56";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-file-pdf:before {
  content: "\eadf";
}
