.header {
}
.modal_header_tab {
  display: flex;
  background: whitesmoke;
  height: 70px;

  .left {
    display: flex;
    flex: 1;
    .tabItem {
      min-width: 120px;
      font-size: 17px;
      padding: 0 15px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  .right {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: gray;
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover {
      color: black;
      transition-duration: 0.2s;
    }
  }
}
.asset_browser {
  display: flex;
  padding: 20px;
  .firstTab {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    overflow: auto;
    align-items: flex-start;
    .assetItem {
      width: calc(16.6% - 15px);
      display: flex;
      flex-direction: column;
      margin: 0 15px 20px 0;
      i {
        font-size: 40px;
        color: gray;
      }
      .top {
        cursor: pointer;
        border-radius: 3px;
        height: 100px;
        flex: 1;
        background: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          border-radius: 3px;
          object-fit: cover;
          width: 100%;
          height: 100px;
        }
        .icon {
          font-size: 40px;
        }
      }
      .bottom {
        padding-top: 10px;
        font-size: 12px;
        text-align: center;
        div {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-weight: 500;
        }
      }
    }
  }
  .secondTab {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    height: 475px;
    overflow: auto;
    .newUpload {
      flex: 1;
    }
    .actions {
      display: flex;
      flex-direction: row-reverse;
      button {
        margin-left: 10px;
      }
    }
  }
}
