@import "./../../../../styles/colors.scss";
@import "./../../../../styles/mixins.scss";

.sideBar {
  position: fixed;
  left: 0;
  height: 100%;
  width: var(--sideBar-width);
  background-color: white;
  //@include boxShadow(.5px 0 5px -2px #888);
  padding: 0 20px 10px 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  z-index: 100;
  .top {
    padding: 20px 0;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    .icon {
      font-size: 30px;
      color: rgb(56, 132, 255);
      margin-right: 10px;
    }
    .title {
      font-weight: bold;
      font-size: 22px;
      font-style: oblique;
    }
  }
  .sideBar-info {
    display: flex;
    border-top: 1px solid whitesmoke;
    padding: 20px 0;
    .sideBar-info-left {
      border-right: 1px solid lightgray;
    }
    div {
      flex: 1;
    }
    a {
      margin: 0 5px;
      color: gray;
      font-size: 12px;
      display: block;
    }
  }
  .copyRight {
    font-size: 10px;
    color: gray;
  }
}
