.custom-select-item {
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  &:hover{
    background: whitesmoke
  }
  .imageItem-empty {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-align: center;
  }
  .imageItem {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .itemName {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    flex: 1;
    & span:first-child {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .itemBy {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    flex: 1;
    & span:first-child {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .itemStatus {
    color: rgb(56, 132, 255);
    font-size: 13px;
    padding: 0 5px;
  }
}
.custome-select-selected {
  display: flex;
  align-items: center;
  height: 25px;
  .imageItem-selected-empty {
      text-align: center
      
  }
  .selectedItemImage {
    width: 30px;
    height: 25px;
    margin-right: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .selectedItemName {
    font-size: 10px;
    font-weight: 500;
  }
}
