.webhooksBody {
  .fristTab {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    .webhookItem {
      width: 140px;
      margin-right: 10px;
      cursor: pointer;
      .w-top {
        height: 100px;
        background: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 60px;
          height: 60px;
        }
      }
      .w-bottom {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        & span:first-child {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
}
